
@{
    ViewBag.Title = "Portfolio";
}

<div class="container welcome">
    <div class="row">
                <div class="col-sm-3">
                    <div id="sidebar-wrapper" style="background: rgb(46, 45, 44); border-radius:5px; box-shadow: rgb(255, 0, 0) 0 0 3px">
                        <div class="col-xs-12 sidebar-nav" >
                            <h4 class="portfolio-header nav-link"> Section Links</h4>
                                <h5 class="nav-link"><a href="#programming">Programming Skills</a></h5>
                                <h5 class="nav-link"><a href="#database-work">Database Design and Applications</a></h5>
                                <h5 class="nav-link"><a href="#systems-analysis">Business and Systems Analysis</a></h5> 
                        </div>
                    </div>
            
                </div>
        <div class="well col-sm-9" style="background: rgb(46, 45, 44); border-radius:5px; box-shadow: rgb(255, 0, 0) 0 0 3px">

            <h1 class="portfolio-header"> @ViewBag.Title</h1>

            <hr class="seperator" />
            <a id="programming" class="anchor"></a>
            <h3 id="header">Programming and Technical Skills</h3>
            <h4> CIS 199: Software Development I</h4>
            <div class="col-md-12 portfolio-assignment">
                <a>Program 1</a> <br />
                <a>Program 2</a> <br />
                <a>Program 3</a> <br />
                <a>Program 4</a> <br />
            </div>
            <h4> CIS 200: Software Development II</h4>
            <div class="col-md-12 portfolio-assignment">
                <a>Program 1</a> <br />
                <a>Program 2</a> <br />
                <a>Program 3</a> <br />
                <a>Program 4</a> <br />
            </div>
            <h4> CIS 411: Web Architecture </h4>
            <div class="col-md-12 portfolio-assignment">
                <a>Home Assignment 1</a> <br />
                <a>Home Assignment 2</a> <br />
                <a>Shopping Cart Application</a> <br />
            </div>
            <hr class="seperator" />
            <a id="database-work" class="anchor"></a>
            <h3 id="header">Database Design and Applications</h3>
            <h4> CIS 310: Database Design</h4>
            <div class="col-md-3 portfolio-assignment">
                <a>A1</a> <br />
                <a>A2</a> <br />
                <a>A3</a> <br />
                <a>A4</a> <br />
            </div>
            <div class="col-md-9 portfolio-assignment">
                <a>A5</a> <br />
                <a>A6</a> <br />
                <a>A7</a> <br />
                <a>A8</a> <br />
            </div>
            <hr class="seperator" />
            <a id="systems-analysis" class="anchor"></a>
            <h3 id="header">Business and Systems Analysis</h3>
            <h4> CIS 410: Management of Information Systems </h4>
            <p>
                Cases: In the cases below, we were to analyze the bussinesses and their environments then offer a recommended action or decision the buisness should take. We would identify the problem, explain the mission and strategy of the company, and analyze Porter's five forces. After that we would idenifty stakeholders, alternative actions, their impact, then offer a recommendation.
            </p>

            <div class="col-md-3 portfolio-assignment">
                <a>Case 1: Burlington Northern</a> <br />
                <a>Case 2</a> <br />
                <a>Case 3</a> <br />
                <a>Case 4</a> <br />
            </div>
            <div class="col-md-9 portfolio-assignment">
                <a>Case 5</a> <br />
                <a>Case 6</a> <br />
                <a>Case 7</a> <br />
                <a>Case 8</a> <br />
            </div>
            <div class="col-md-3 portfolio-assignment">
                <a>Midterm</a> <br />
                <a>Startegic Assessment</a> <br />
            </div>

        </div>
    </div>
  </div>
   

