<footer>
    <p>&copy; @DateTime.Now.Year - Vince Patrick     @Html.ActionLink("About", "Index", "About") | @Html.ActionLink("Contact", "Index", "Contact") | @Html.ActionLink("Portfolio", "Index", "CISPortfolio") 
     Grad Date: May 2018</p>
</footer>
