
@{
    ViewBag.Title = "Menu";
}

<h2>Menu</h2>
<div>
<h3 id="skill">Experience</h3>
<ul style="list-style-type:square">
    <li>Zirmed: IT Intern in Louisville, KY.</li>
    <li>UofL: Student Consultant in developing a website for KHBPA</li>
</ul>

<h3 id="progress">Education</h3>
<ul style="list-style-type:square">
    <li>Eastern High School : 2010-2014</li>
    <li>University of Louisville : 2014-2018</li>
</ul>
    </div>
