body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}
.portfolio-assignment{
    padding-bottom:10px;
}
.jump{
    text-align:center;
}
.sidenav {
    z-index: 1;
    position: fixed;
    overflow-x: hidden;
    max-width:20%;

}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#resumeBtn{
    color:black;
}

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}
.nav-link{
    margin-bottom:10px;
    margin-left: 10px;
}
#sidebar-wrapper {
  margin-left: -250px;
  left: 270px;
  width: 250px;
  
  position: fixed;
  height: 35%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;

  margin: 0;
  padding: 0;
}

@media (max-width:930px) {

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        left: 0;
    }

    #wrapper.active {
        position: relative;
        left: 250px;
    }

        #wrapper.active #sidebar-wrapper {
            left: 250px;
            width: 250px;
            transition: all 0.4s ease 0s;
        }
}
.border-container{
    background: rgb(46, 45, 44); 
    border-radius:5px; 
    box-shadow: rgb(255, 0, 0) 0 0 3px;
}
.skill-list{
    margin:3px;
}
.education-exp{
    list-style-type:square;
}
.goals{
    list-style-type:none;
}
/*.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}*/

