
@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="well col-sm-12" style="background: rgb(46, 45, 44); border-radius:5px; box-shadow: rgb(255, 0, 0) 0 0 3px">
        <h2 id="header"> Interview with Vince</h2>
        <img src="~/me.png" class="image" style="float:right" />
        <span class="q">Q:</span><span class="question"> Tell us about you<br /> </span>
        <span class="a">A:</span>My name is Richard Patrick but I prefer to go by Vince. I am from Louisville, Ky and I would like to be a software/web developer.<br /> <br /> 

        <span class="q">Q:</span><span class="question"> What are your interests?</span><br /> 
        <span class="a">A:</span> I like to program, play basketball, watch Uofl athletics while also enjoying traveling, hiking, and music.<br /> <br /> 

        <span class="q">Q:</span><span class="question">
            What made you choose a CIS major and want to become a developer?
        </span><br /> 
        <span class="a">A:</span> My high school had a technology program where we took classes that were to prepare us for certification exams such as A+, Net+, and Security+. I did not take any programming classes in high school, but from taking these courses I realized that I wanted to be in the technology field. It wasn't until about over a year ago that I took my first programming class and 
        found myself eager to do the work. After that, I took more courses on web development and took upon learning some on my own. Now I am an intern learning to become a .NET developer.
        <br /> <br /> 

        <span class="q">Q:</span><span class="question">
            What makes you a good choice for a job?
        </span><br /> 
        <span class="a">A:</span> I am a hard worker which is an important in this field because everything is always changing and moving at such a fast pace. While working hard is a necessity, to be successful you have to actually want to learn and become a better developer. When I first started, I found myself enjoying my time learning new skills and today I feel passionate about learning more. <br /> <br /> 

        <span class="q">Q:</span><span class="question">
            What do you look for in a job/company?
        </span><br /> 
        <span class="a">A:</span> I would like a job that is challenging, rewarding, and one where I can always learn new things. I would like to work for a company that allows for the employees to grow and offers a comfortable work-life balance.<br /> <br /> 

        <span class="q">Q:</span><span class="question">
            What is important to you?
        </span><br /> 
        <span class="a">A:</span> While my career is important, I believe family and the people close to you come first. Letting those people know that you are there for them and actually being there for them is something I think is extremely important.<br /> <br /> 

        <span class="question">Thank you for your time</span> <br /> 
        No, thank you.
    </div>
</div>


