@{
    ViewBag.Title = "Portfolio";
}

<div class="container welcome">
    <div class="row">
        <div class="col-sm-3">
            <div id="sidebar-wrapper" class="border-container">
                <div class="col-xs-12 sidebar-nav">
                    <h4 class="portfolio-header nav-link"> Section Links</h4>
                    <h5 class="nav-link"><a href="#career">Career Documents</a></h5>
                    <h5 class="nav-link"><a href="#programming">Programming Skills</a></h5>
                    <h5 class="nav-link"><a href="#database-work">Database Design and Applications</a></h5>
                    <h5 class="nav-link"><a href="#systems-analysis">Business and Systems Analysis</a></h5>
                    <h5 class="nav-link"><a href="#security">Information Security</a></h5>
                </div>
            </div>

        </div>
        <div class="well col-sm-9 border-container">

            <h1 class="portfolio-header"> @ViewBag.Title</h1>

            <hr class="seperator" />
            <a id="career" class="anchor"></a>
            <h3 id="header">Section I: Career Documents</h3>
            <h4 class="course"> Resume, Cover Letter, and Skills Sheet</h4>
            <div class="col-md-12 portfolio-assignment">
                <a href="~/RVPatrickResume1.pdf" target="_blank">Resume</a> <br />
                <a href="~/CoverLetter.pdf" target="_blank">Cover Letter</a> <br />
                <a href="~/TechnicalSkillsVP.pdf" target="_blank">Technical Skills Sheet</a> <br />
            </div>
            <hr class="seperator" />
            <a id="programming" class="anchor"></a>
            <h3 id="header">Section II: Programming and Technical Skills</h3>
            <h4 class="course"> CIS 199: Software Development I</h4>
            <p>
                This course introduces object-oriented concepts such as the use of classes, methods, encapsulation, and inheritance.
                The course concentrates on using object-oriented programming to solve simple problems involving input and output.
            </p>
            <div class="col-md-12 portfolio-assignment">
                <a href="https://github.com/vincepatrick1/Program3" target="_blank">Program 3</a>- Uses parallel arrays and range matching to calculate the registration date and time for a student <br />
                <a href="https://github.com/vincepatrick1/Program4" target="_blank">Program 4</a>- Demonstrates the use of classes and objects <br />
            </div>
            <h4 class="course"> CIS 200: Software Development II</h4>
            <p>
                This course emphasizes object-oriented software development. Students study the object model and apply it to systems development problems.
                Topics include polymorphism, inheritance, and object interaction. Event-driven programming of graphical user interfaces is introduced.
                Application areas may include data structures, searching, sorting, and databases.
            </p>
            <div class="col-md-12 portfolio-assignment">
                <a href="https://github.com/vincepatrick1/Prog1B" target="_blank">Program 1B</a>- Uses LINQ to wirte objects to console <br />
                <a href="https://github.com/vincepatrick1/Prog3" target="_blank">Program 3</a>- Allow user to save object as a serializable object then open the file back in and edit an existing address <br />
                <a href="https://github.com/vincepatrick1/Prog4" target="_blank">Program 4</a>- Uses IComparable Interface <br />
            </div>
            <h4 class="course"> CIS 411: Web Architecture </h4>
            <p>This course focused on developing Web Form applications and how to properly use session state in these applications. We covered HTML5, Javascript, and CSS as well.</p>
            <div class="col-md-12 portfolio-assignment">
                <a href="https://github.com/vincepatrick1/ShoppingCartApplication" target="_blank">Shopping Cart Application</a>- Add items to shopping cart using session state<br />
            </div>
            <h4 class="course"> CIS 420: Development Project </h4>
            <p> In this course, we used the requirements we gathered from CIS 320 and requests from our clients to build out a website for the non-profit KHBPA using MVC. We were put on a team of 6 students and developed the website together while having meetings and presentations with the clients throughout the semster</p>
            <div class="col-md-12 portfolio-assignment">
                <a href="https://github.com/tmburt04/KHBPA" target="_blank">KHBPA Website</a> <br />
            </div>
            <h4 class="course"> Personal Website </h4>
            
            <div class="col-md-12 portfolio-assignment">
                <a href="https://github.com/vincepatrick1/VinceSite" target="_blank">My Website</a>- Used MVC architecture along with Jquery, Bootstrap, Razor, and CSS.<br />
            </div>
            <hr class="seperator" />
            <a id="database-work" class="anchor"></a>
            <h3 id="header">Section III: Database Design and Applications</h3>
            <h4 class="course"> CIS 310: Database Design</h4>
            <p>This course provided solid and practical foundation for the design and implementation of database systems. Emphasis will be on the relational database model, with significant coverage of basic relational database concepts, normalization, E-R modeling, and SQL. Additional topics may include data warehouse, fundamental transaction management concepts, and more recent data storage technologies </p>
            <div class="col-md-12 portfolio-assignment">
                <a href="~/A2.pdf" target="_blank">A2</a>- Simple ERD example<br />
                <a href="~/A5.pdf" target="_blank">A5</a>- Complex ERD example with explaination <br />
                <a href="~/A6doc.pdf" target="_blank">A6</a>- Example showing 2NF and 3NF with ERD <br />
                <a href="~/A8SQL.pdf" target="_blank">A8</a>- SQL statements <br />
                <a href="~/A10doc.pdf" target="_blank">A10</a>- Star Schema/SQL<br />
            </div>
            <hr class="seperator" />
            <a id="systems-analysis" class="anchor"></a>
            <h3 id="header">Section IV: Business and Systems Analysis</h3>
            <h4 class="course"> CIS 410: Management of Information Systems </h4>
            <p>Explores strategic development of information technology; value chain analysis and its application to information resource management; information systems planning; organizing, staffing, and controlling the deployment of information technology; the development of an IT platform and architecture consistent with organizational structure. </p>
            <p>
                Cases: In the cases below, we were to analyze the bussinesses and their environments then offer a recommended action or decision the buisness should take. We would identify the problem, explain the mission and strategy of the company, and analyze Porter's five forces. After that we would idenifty stakeholders, alternative actions, their impact, then offer a recommendation.
            </p>

            <div class="col-md-12 portfolio-assignment">
                <a href="~/Case 1-1.pdf" target="_blank">Burlington Northern</a> <br />
                <a href="~/Case 4-2.pdf" target="_blank">Symantec</a> <br />
                <a href="~/CaseWebvan.pdf" target="_blank">Webvan</a> <br />
                <a href="~/CaseAgrico.pdf" target="_blank">Agrico</a> <br />
            </div>
            <p>
                Strategic Assesment: This assignment focused on analyzing the IT and business processes of a small company or non-profit to offer them IT reccomendations that will help reach their goals and get them to where they want to be.
                For this assignment, I chose the Mane Event, a beauty salon in Murray KY. I analyzed their business processes and found that everything was completed on paper providing me many oppurtunities to offer IT recommendations.
            </p>
            <div class="col-md-12 portfolio-assignment">

                <a href="~/StrategicAssessment.pdf" target="_blank">Strategic Assessment</a> <br />
            </div>
            <h4 class="course"> CIS 320: Management of Information Systems </h4>
            <p>Introduces the fundamentals of object-oriented analysis and design, including experience with a CASE tool.  Topics include requirements determination, feasibility analysis, modeling with Unified Modeling Language (UML) and data dictionary construction, data modeling and normalization, user interface requirements specification, and information security procedures.</p>
            <p>Elaboration Specification: Includes all of the work we had completed from collecting and analyzing data from KHBPA. These documents include Use Cases, Use Case Diagrams, Trace Matrix, ERD, and Sequence Diagrams.</p>
            <div class="col-md-12 portfolio-assignment">

                <a href="https://drive.google.com/open?id=1BUdAd01Wew4mWSIOv0ur4DS_y1pX1dWs" target="_blank">Elaboration Specification</a> <br />
            </div>
            <hr class="seperator" />
            <a id="security" class="anchor"></a>
            <h3 id="header">Section V: Information Security</h3>
            <h4 class="course"> CIS 481: Introduction to Information Security</h4>
            <p>This course covered basic notions of confidentiality, integrity, availability, authentication models, protection models, security kernels, audit, intrusion detection, operational security issues, physical security issues, security system life cycle management, personnel security, policy formation and enforcement, trust modeling, risks and vulnerabilities assessment</p>
            <div class="col-md-12 portfolio-assignment">
                <a href="~/Final Paper.pdf" target="_blank">BYOD Research Paper</a>-  Paper identifying and analyzing the risks associated with BYOD <br />
            </div>
            <h4 class="course"> CIS 484: Computer Forensics</h4>
            <p>
                The course includes basic computer forensics concepts involving
                evidence collection, preservation, examination, analysis, and
                presentation in court.
            </p>
            <div class="col-md-12 portfolio-assignment">
                <a href="~/Project2.pdf" target="_blank">Project 2</a>- Demonstrating understanding of NTFS and FAT32 file system in regards to a forensic investigation <br />
                <a href="~/Project 4 Write-Up.pdf" target="_blank">Project 4</a>-  Given a forensic image of a hard drive and must use forensic tools to uncover evidence <br />
            </div>
            <h4 class="course"> CIS 483: Database Security</h4>
            <p>This course covered Basic data protection methods such as discretionary and mandatory access
                controls, secure database design, data integrity, secure architectures, secure
                transaction processing, and information flow controls.</p>
            <div class="col-md-12 portfolio-assignment">
                <a href="~/Lab_Encrypt_PatrickR.pdf" target="_blank">Encryption Lab</a> <br />
                <a href="~/DBPenTesting_PatrickR.pdf" target="_blank">Pen Testing Lab</a> <br />
                <a href="~/Homework_PatrickR.pdf" target="_blank">Group Policy Lab</a> <br />
            </div>
            </div>
    </div>
</div>

